.resize-panel {
    padding: 10px;
    color: white;
}

.resize-panel .resize-control {
    display: flex;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 10px;
}

.resize-panel .resize-control span {
    width: 60px;
}

.resize-panel .resize-control input {
    width: 75px;
    margin-right: 5px;
}

.resize-panel .resize-control button {
    width: 100px;
    margin-right: 5px;
}
